.classpath
.depend
.project
.pydevproject
.settings
.settings/
.idea/
*.iws
.DS_Store
log/
target/
plugin-tool-log.txt
bin/
classes/
export/
instrumented/
javadoc/
jcoverage.ser/
rpt-test-err/
rpt-test-out/
tempbuild/
tmplib/
out/